!!!5
%html
  %head
    %meta(charset="utf-8")
    %title Jaleo videoclub online
    %meta(content="Inma Glez" name="author")
    %meta(content="Jaleo videoclub web" name="description")
    %link(href="/favicon.ico" rel="shortcut icon")
    %link(href="#" rel="apple-touch-icon")
  %body
    %header
      %nav
        %ul
          %li
            %a(href="index.html") Jaleo
          %li
            %a(href="#") Películas
          %li
            %a(href="#") Series
          %li
            %a(href="#") Explora
          %li
            %a(href="#") Iniciar sesion
    #main(role="main")
      %section.slider
        %h1 Los Vengadores: La Era de Ultrón
        %video(controls="" width="1960")
          %source(src="movie.mp4" type="video/mp4")
          %source(src="movie.ogg" type="video/ogg")
            Your browser does not support the video tag.
        .show-info
          %time(datetime="2015") 2015
          %ul
            %li
              <abbr title="mayores de"> +</abbr>18
            %li.rate
              <abbr lang="en" title="High Definition"> HD</abbr>
            %li
              %time(datetime="PT1H39M")
                1
                %abbr(title="hora") h
                34
                %abbr(title="minutes") min
            %li 2,5 sobre 5
            %li Compartir
            %li
              %a(href="#")
                GUARDAR PARA DESPUÉS
            %li
              %a(href="#")
                VER AHORA
                %strong 2,95 &euro;
      / film data
      %section.film-summary-two-columns
        %h2 Premios y nominaciones
        %aside
          %ul
            %li
              %img(alt="Golden nomination" src="#")
                %h3 2 nominaciones Globos de Oro
            %li
              %img(alt="Golden nomination" src="#")
                %h3 1 nominación Oscar(guión)
        %hr
          %article
            %h3 Sinopsis
            %p
              El destino del planeta pende de un hilo cuando
              %strong Tony Stark
              intenta hacer funcionar un inactivo programa para mantener la paz.
              Las cosas le salen mal y los h&eacute;roes m&aacute;s poderosos, incluyendo Iron Man 
              %strong Robert Downey Jr.
              , capitán Am&eacute;rica 
              %strong Chris Evans
              , la Viuda Negra 
              %strong Scarlett Johanson
              , Thor
              %strong Chris Hemsworth
              ,el incre&iacute;ble Hulk 
              %strong Mark Ruffalo 
              y Ojo de Halc&oacute;n 
              %strong Jeremy Renner
              , se ven enfrentados a la prueba definitiva.
            %p
              %span Los Vengadores: la era de Ultrón
              es la segunda pel&iacute;cula de la saga protagonizada por los h&eacute;roes más poderosos del mundo. El reparto cuanta con Robert Downey Jr.(Iron Man),Chris Evans (Capitán América), Scarlett Johansson (Viuda Negra), Chris Hemsworth (Thor),
            %a(href="#")
              %strong Leer más
          %hr
            %ul
              %li Tag1
              %li Tag2
              %li Tag3
              %li Otro Tag
            %hr.thin-line
              %aside
                %h2 Ficha técnica
                %dl
                  %dt Director
                  %dd Joss Whedon
                %dl
                  %dt Productora
                  %dd Marvel Studios
                %dl
                  %dt G&eacute;nero
                  %dd Acción y Aventura
                %dl
                  %dt Duraci&oacute;n
                  %dd
                    %time(datetime="PT1H34M")
                      1
                      %abbr(title="hora") h
                      34
                      %abbr(title="minutes") min
                %dl
                  %dt Formato
                  %dd
                    %abbr(title="High Definition")> HD
                    panor&aacute;mico
                %dl
                  %dt Calificación
                  %dd
                    %abbr(title="mayores de")> +
                    18
                %dl
                  %dt Idiomas
                  %dd
                    %ul
                      %li Español
                      %li Inglés
                      %li Francés
                      %li Alemán
                      %li
                        %a(href="#")
                          %strong Más
                %dl
                  %dt Subtítulos
                  %dd
                    %ul
                      %li Francés
                      %li Catalán
                      %li Inglés
                      %li Español
              %hr.thin
                %div
                  %strong
                    Ver ficha en IMDB
                    %span.external-link-icon
                %hr
                  .Recaudation
                    %h2 Recaudación
                    %table
                      %thead
                        %tr
                          %th Estreno
                          %th Zona
                          %th
                            Importe(
                            %abbr(title="Dólares")> $
                            )
                          %th Espectadores
                      %tfoot
                        %tr
                          %td
                          %td
                          %td
                          %td
                            Fuentes:
                            
                            %a(href="#") lorem ipsum
                            %a(href="#") dolor sit amet
                      %tbody
                        %tr
                          %td
                            %time(datetime="2015-04-21") 21/abr/2015
                          %td Europa
                          %td
                            1.75
                            %abbr(title="Millones") M
                          %td
                            2.5
                            %abbr(title="Millones") M
                        %tr
                          %td
                            %time(datetime="2015-01-05") 5/ene/2015
                          %td EE. UU.
                          %td
                            1.75
                            %abbr(title="Millones") M
                          %td
                            2.5
                            %abbr(title="Millones") M
                        %tr
                          %td
                            %time(datetime="2015-01-05") 5/ene/2015
                          %td Canadá
                          %td
                            1.75
                            %abbr(title="Millones") M
                          %td
                            2.5
                            %abbr(title="Millones") M
                        %tr
                          %td
                            %time(datetime="2015-06-21") 21/jun/2015
                          %td Asia
                          %td 753.000
                          %td
                            0.5
                            %abbr(title="Millones") M
                        %tr
                          %td
                            %time(datetime="2015-04-21") 21/abr/2015
                          %td LATAM
                          %td
                            1.05
                            %abbr(title="Millones") M
                          %td
                            0.75
                            %abbr(title="Millones") M
                    %hr.thin
                      %div
                        Fuentes:
                        %strong
                          Lorem ipsum, dolor sit amet
                          %span.external-link-icon
      %section.team
        %h2 Reparto y equipo
        %ul
          %li
            %img(alt="cara de Joss Whedom" src="#")
              %h3 Joss Whedom
              %p DIRECTOR
          %li
            %img(alt="cara de Downey JR" src="#")
              %h3
                Robert Downey Jr.
              %p ACTOR
          %li
            %img(alt="cara de Chris Evans" src="#")
              %h3 Chris Evans
              %p ACTOR
          %li
            %img(alt="cara de Scarlett johanson" src="#")
              %h3 Scarlett johanson
              %p ACTRIZ
          %li
            %img(alt="cara de Ghris Hemsworth" src="#")
              %h3 Ghris Hemsworth
              %p ACTOR
          %li
            %a.more(href="#")
      %section.reviews
        %h2 Críticas y reseñas
        %hr
          .Cinema-criticism
            %h3 Los Críticos de cine
            %hr
              .col1
                %blockquote
                  %q
                    Es difícil imaginar una versión mejor, pero es ficción audiovisual a la medida de quien va a las salas a comprobar, no a descubrir
                  %footer
                    %strong Oti Rodriguez marchante
                    %cite(title="periodico diario ABC") DIARIO ABC
                %hr
                  %blockquote
                    %q
                      Hay tanta acción, tanta exhibición de fuerza cinematografica, que si a alguien se aburre viéndola es que, evidentemente, se ha equibovado de ventana al mirarla
                    %strong Jordi Costa
                    %cite(title="periodico diario EL PAIS") EL PAIS
              .col2
                %hr
                  %h3 Nuestro usuarios
                  %hr
                    .users
                      %strong 2,5
                      sobre 5
                      %p promedio de 256 valoraciones de los que usuarios de AirPlay
              .col3
                %hr
                  %h3 Los medios conline
                  %hr
                    2,5 sobre 5
                    %strong Rotten Tomatoes
                    2,5 sobre 5
                    %strong Sensacine
                    2,5 sobre 5
                    %strong IMDB
                    2,5 sobre 5
                    %strong Lorem ipsum
                    2,5 sobre 5
                    %strong Dolor sit amet
      %section.related-links
        %h2 También te puede interesar...
        %ul
          %li
            %img(alt="tintin" src="images/posters/tintin.jpg")
              %h3
                %strong Tint&iacute;n
              %time(datetime="2011") 2011
              %ul
                %li loren ipsum dolor dit amet consecteur...
                %li
                  %a(href="#") M&aacute;s
                %li 2,5 sobre 5
                %li
                  %a(href="#") 2,95€
          %li
            %img(alt="sinsajo" src="images/posters/sinsajo.jpg")
              %h3
                %strong Sinsajo
              %time(datetime="2014") 2014
              %ul
                %li loren ipsum dolor dit amet consecteur...
                %li
                  %a(href="#") M&aacute;s
                %li 2,5 sobre 5
                %li
                  %a(href="#") 2,95€
          %li
            %img(alt="parque-jurasico" src="images/posters/parque-jurasico.jpg")
              %h3
                %strong Parque Jur&aacute;sico
              %time(datetime="1993") 1993
              %ul
                %li loren ipsum dolor dit amet consecteur...
                %li
                  %a(href="#") M&aacute;s
                %li 2,5 sobre 5
                %li
                  %a(href="#") 2,95€
          %li
            %img(alt="vengadores" src="images/posters/vengadores.jpg")
              %h3
                %strong Vengadores
              %time(datetime="2012") 2012
              %ul
                %li loren ipsum dolor dit amet consecteur...
                %li
                  %a(href="#") M&aacute;s
                %li 2,5 sobre 5
                %li
                  %a(href="#") 2,95€
    %footer
      %h3 PÁGINA
      %ul
        %li Blog
        %li Prensa
        %li Condiciones de uso
        %li Privacidad
        %li Soporte
      %h3 CORPORATIVO
      %ul
        %li Nosotros
        %li Contacto
        %li
          %i(lang="en") English site
        %li
          %i(lang="de") Deutsch Website
        %li
          Site
          %i(lang="fr") français
      %h3 SÍGUENOS
      %ul
        %li Facebook
        %li Twitter
        %li Pinterest
      %h3 JALEO
      %hr
        %ul
          %li &copy; Jaleo de España S.A.
          %li Calle del Rey, 23
          %li 28080 MADRID
          %li 0034 555 55 65 85
          %li
            %a(href="mailto:infor@jaleoapp.es") info@jaleoapp.es