!!! 5
%html(lang="es")
	%head
		%meta(charset="utf-8")
		%title Jaleo videoclub online
		%meta(name="author" content="Jaleo videoclub web")
		%meta(name="description" content="Jaleo videoclub web")
		%link(rel="shortcut icon" href="/favicon.ico")
		%link(rel="apple-touch-icon" href="#")
	%body
		%a(href="#main")
		%header
			%nav
				%ul
					%li
						%a(href="index.html") Jaleo
					%li
						%a(href="#") Películas
					%li
						%a(href="#") Series
					
					%li
						%a(href="#") Explora
					%li
						%a(href="#") Iniciar sesion
		.main(role="main")
			%section.slider
				%h1 Los Vengadores: La era de Ultrón
				%ul
					%li
						%time(datetime="2015") 2015
					%li
						<abbr title="mayores de">+</abbr>18
					%li.rate
						<abbr title="High Definition" lang="en">HD</abbr>
					%li
						%time(datetime="PT1H39M") 
							1 <abbr title="hora">h</abbr> 34 <abbr title="minutes">min</abbr>
					%li	
						2,5 sobre 5
		%footer	


